# Node
/node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Angular / Ionic
/.angular/
/.angular-cache/
/www
/dist
/out-tsc
.sass-cache/

# Capacitor / Native
/android/
/ios/
/capacitor.config.ts
/capacitor.config.js
/capacitor.config.json
/capacitor.config.mjs
/capacitor.settings.gradle
/.gradle
/.idea
*.iml

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
log.txt

# Coverage / Testing
/coverage
/testem.log

# System files
.DS_Store
Thumbs.db