:root {
  /** primary **/
  --ion-color-primary: #0b74ff;
  --ion-color-primary-rgb: 11, 116, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a66e0;
  --ion-color-primary-tint: #2382ff;

  /** secondary **/
  --ion-color-secondary: #3ba1ff;
  --ion-color-secondary-rgb: 59, 161, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #348ee0;
  --ion-color-secondary-tint: #4fabff;

  /** success **/
  --ion-color-success: #16a34a;
  --ion-color-success-rgb: 22, 163, 74;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #138f41;
  --ion-color-success-tint: #2dac5c;

  /** warning **/
  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a823;

  /** danger **/
  --ion-color-danger: #dc2626;
  --ion-color-danger-rgb: 220, 38, 38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c22121;
  --ion-color-danger-tint: #e03c3c;
}